In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [2]:
#  Import and read the flights_data.csv.
flights_df = pd.read_csv("flights_data_df.csv")
flights_df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,Airline,Origin,OriginCityName,Dest,DestCityName,...,Cancelled,CancellationCode,CRSElapsedTime,ActualElapsedTime,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime
0,0,2021,1,2,6,Delta Air Lines Inc.,CVG,"Cincinnati, OH",BOS,"Boston, MA",...,0.0,NaN,129.0,114.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2021,1,3,7,Delta Air Lines Inc.,CVG,"Cincinnati, OH",BOS,"Boston, MA",...,0.0,NaN,129.0,117.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2021,1,4,1,Delta Air Lines Inc.,CVG,"Cincinnati, OH",BOS,"Boston, MA",...,0.0,NaN,129.0,121.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2021,1,7,4,Delta Air Lines Inc.,CVG,"Cincinnati, OH",BOS,"Boston, MA",...,0.0,NaN,117.0,121.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021,1,8,5,Delta Air Lines Inc.,CVG,"Cincinnati, OH",BOS,"Boston, MA",...,0.0,NaN,117.0,135.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Creating 'Is_Delayed' column
flights_df["Is_Delayed"] = None
flights_df.loc[flights_df["DepDelayMinutes"] == 0, "Is_Delayed"] = "1"
flights_df.loc[flights_df["DepDelayMinutes"] > 0, "Is_Delayed"] = "0"

In [4]:
flights_df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,Airline,Origin,OriginCityName,Dest,DestCityName,...,CancellationCode,CRSElapsedTime,ActualElapsedTime,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,Is_Delayed
0,0,2021,1,2,6,Delta Air Lines Inc.,CVG,"Cincinnati, OH",BOS,"Boston, MA",...,NaN,129.0,114.0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,2021,1,3,7,Delta Air Lines Inc.,CVG,"Cincinnati, OH",BOS,"Boston, MA",...,NaN,129.0,117.0,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2,2021,1,4,1,Delta Air Lines Inc.,CVG,"Cincinnati, OH",BOS,"Boston, MA",...,NaN,129.0,121.0,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,2021,1,7,4,Delta Air Lines Inc.,CVG,"Cincinnati, OH",BOS,"Boston, MA",...,NaN,117.0,121.0,NaN,NaN,NaN,NaN,NaN,NaN,1
4,4,2021,1,8,5,Delta Air Lines Inc.,CVG,"Cincinnati, OH",BOS,"Boston, MA",...,NaN,117.0,135.0,NaN,NaN,NaN,NaN,NaN,NaN,1

In [5]:
# Dropping columns
flights_df.drop(['Origin', 'Dest', 'Unnamed: 0', 'Cancelled', 'CarrierDelay', 'WeatherDelay', "NASDelay", 'SecurityDelay', 'LateAircraftDelay', 'FirstDepTime', 'CancellationCode'], axis=1)

,Year,Month,DayofMonth,DayOfWeek,Airline,OriginCityName,DestCityName,CRSDepTime,DepTime,DepDelayMinutes,CRSArrTime,ArrTime,CRSElapsedTime,ActualElapsedTime,Is_Delayed
0,2021,1,2,6,Delta Air Lines Inc.,"Cincinnati, OH","Boston, MA",730,733.0,3.0,939,927.0,129.0,114.0,0
1,2021,1,3,7,Delta Air Lines Inc.,"Cincinnati, OH","Boston, MA",730,727.0,0.0,939,924.0,129.0,117.0,1
2,2021,1,4,1,Delta Air Lines Inc.,"Cincinnati, OH","Boston, MA",730,737.0,7.0,939,938.0,129.0,121.0,0
3,2021,1,7,4,Delta Air Lines Inc.,"Cincinnati, OH","Boston, MA",1715,1710.0,0.0,1912,1911.0,117.0,121.0,1
4,2021,1,8,5,Delta Air Lines Inc.,"Cincinnati, OH","Boston, MA",1715,1711.0,0.0,1912,1926.0,117.0,135.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10390184,2022,7,25,1,Southwest Airlines Co.,"Chicago, IL","Baltimore, MD",1235,1310.0,35.0,1525,NaN,110.0,NaN,0
10390185,2022,7,26,2,Southwest Airlines Co.,"Baltimore, MD","Houston, TX",2145,2219.0,34.0,2355,23.0,190.0,184.0,0
10390186,2022,7,26,2,Southwest Airlines Co.,"Miami, FL","Austin, TX",1610,1650.0,40.0,1805,2022.0,175.0,272.0,0
10390187,2022,7,26,2,Southwest Airlines Co.,"Miami, FL","Chicago, IL",1210,1632.0,262.0,1420,1855.0,190.0,203.0,0
10390188,2022,7,29,5,Southwest Airlines Co.,"Las Vegas, NV","Denver, CO",1830,1845.0,15.0,2125,2329.0,115.0,224.0,0

In [8]:
pd.get_dummies(flights_df, columns=['Airline'])

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,Origin,OriginCityName,Dest,DestCityName,CRSDepTime,...,Airline_Alaska Airlines Inc.,Airline_Allegiant Air,Airline_American Airlines Inc.,Airline_Delta Air Lines Inc.,Airline_Frontier Airlines Inc.,Airline_Hawaiian Airlines Inc.,Airline_JetBlue Airways,Airline_Southwest Airlines Co.,Airline_Spirit Air Lines,Airline_United Air Lines Inc.
0,0,2021,1,2,6,CVG,"Cincinnati, OH",BOS,"Boston, MA",730,...,0,0,0,1,0,0,0,0,0,0
1,1,2021,1,3,7,CVG,"Cincinnati, OH",BOS,"Boston, MA",730,...,0,0,0,1,0,0,0,0,0,0
2,2,2021,1,4,1,CVG,"Cincinnati, OH",BOS,"Boston, MA",730,...,0,0,0,1,0,0,0,0,0,0
3,3,2021,1,7,4,CVG,"Cincinnati, OH",BOS,"Boston, MA",1715,...,0,0,0,1,0,0,0,0,0,0
4,4,2021,1,8,5,CVG,"Cincinnati, OH",BOS,"Boston, MA",1715,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10390184,10390184,2022,7,25,1,ORD,"Chicago, IL",BWI,"Baltimore, MD",1235,...,0,0,0,0,0,0,0,1,0,0
10390185,10390185,2022,7,26,2,BWI,"Baltimore, MD",HOU,"Houston, TX",2145,...,0,0,0,0,0,0,0,1,0,0
10390186,10390186,2022,7,26,2,MIA,"Miami, FL",AUS,"Austin, TX",1610,...,0,0,0,0,0,0,0,1,0,0
10390187,10390187,2022,7,26,2,MIA,"Miami, FL",MDW,"Chicago, IL",1210,...,0,0,0,0,0,0,0,1,0,0
10390188,10390188,2022,7,29,5,LAS,"Las Vegas, NV",DEN,"Denver, CO",1830,...,0,0,0,0,0,0,0,1,0,0

In [9]:
# Dropping columns
flights_df.drop(['Origin', 'Dest', 'Unnamed: 0', 'OriginCityName', 'DestCityName'], axis=1)

,Year,Month,DayofMonth,DayOfWeek,Airline,CRSDepTime,DepTime,DepDelayMinutes,CRSArrTime,ArrTime,...,CancellationCode,CRSElapsedTime,ActualElapsedTime,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,Is_Delayed
0,2021,1,2,6,Delta Air Lines Inc.,730,733.0,3.0,939,927.0,...,NaN,129.0,114.0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2021,1,3,7,Delta Air Lines Inc.,730,727.0,0.0,939,924.0,...,NaN,129.0,117.0,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2021,1,4,1,Delta Air Lines Inc.,730,737.0,7.0,939,938.0,...,NaN,129.0,121.0,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2021,1,7,4,Delta Air Lines Inc.,1715,1710.0,0.0,1912,1911.0,...,NaN,117.0,121.0,NaN,NaN,NaN,NaN,NaN,NaN,1
4,2021,1,8,5,Delta Air Lines Inc.,1715,1711.0,0.0,1912,1926.0,...,NaN,117.0,135.0,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10390184,2022,7,25,1,Southwest Airlines Co.,1235,1310.0,35.0,1525,NaN,...,A,110.0,NaN,NaN,NaN,NaN,NaN,NaN,1310.0,0
10390185,2022,7,26,2,Southwest Airlines Co.,2145,2219.0,34.0,2355,23.0,...,NaN,190.0,184.0,22.0,0.0,0.0,0.0,6.0,NaN,0
10390186,2022,7,26,2,Southwest Airlines Co.,1610,1650.0,40.0,1805,2022.0,...,NaN,175.0,272.0,35.0,0.0,97.0,0.0,5.0,NaN,0
10390187,2022,7,26,2,Southwest Airlines Co.,1210,1632.0,262.0,1420,1855.0,...,NaN,190.0,203.0,0.0,0.0,269.0,0.0,6.0,1207.0,0
10390188,2022,7,29,5,Southwest Airlines Co.,1830,1845.0,15.0,2125,2329.0,...,NaN,115.0,224.0,9.0,0.0,109.0,0.0,6.0,NaN,0

In [ ]:
# Generate our categorical variable lists
flights_cat = flights_df.dtypes[flights_df.dtypes == "object"].index.tolist()

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(flights_df[flights_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(flights_cat)
encode_df.head()

In [9]:
# Features and target arrays
y = flights_df.Is_Delayed
X = flights_df.drop(columns=["Is_Delayed"])