In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [ ]:
#  Import and read the flights_data.csv.
flights_df = pd.read_csv("flights_data_df.csv")
flights_df.head()

In [ ]:
flights_df["Is_Delayed"] = None
flights_df.loc[flights_df["DepDelayMinutes"] == 0, "Is_Delayed"] = "1"
flights_df.loc[flights_df["DepDelayMinutes"] > 0, "Is_Delayed"] = "0"

In [ ]:
flights_df.head()

In [ ]:
# Dropping columns
flights_df.drop(['Origin', 'Dest', 'Unnamed: 0', 'Cancelled', 'CarrierDelay', 'WeatherDelay', "NASDelay", 'SecurityDelay', 'LateAircraftDelay', 'FirstDepTime', 'CancellationCode'], axis=1)

In [6]:
flights_df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,Operating_Airline,Origin,Dest,CRSDepTime,DepTime,...,CancellationCode,CRSElapsedTime,ActualElapsedTime,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,Is_Delayed
0,0,2021,1,2,6,9E,CVG,BOS,730,733.0,...,NaN,129.0,114.0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,2021,1,3,7,9E,CVG,BOS,730,727.0,...,NaN,129.0,117.0,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2,2021,1,4,1,9E,CVG,BOS,730,737.0,...,NaN,129.0,121.0,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,2021,1,7,4,9E,CVG,BOS,1715,1710.0,...,NaN,117.0,121.0,NaN,NaN,NaN,NaN,NaN,NaN,1
4,4,2021,1,8,5,9E,CVG,BOS,1715,1711.0,...,NaN,117.0,135.0,NaN,NaN,NaN,NaN,NaN,NaN,1

In [11]:
pd.get_dummies(flights_df, columns=['Operating_Airline '])

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,Origin,Dest,CRSDepTime,DepTime,DepDelayMinutes,...,Operating_Airline _NK,Operating_Airline _OH,Operating_Airline _OO,Operating_Airline _PT,Operating_Airline _QX,Operating_Airline _UA,Operating_Airline _WN,Operating_Airline _YV,Operating_Airline _YX,Operating_Airline _ZW
0,0,2021,1,2,6,CVG,BOS,730,733.0,3.0,...,0,0,0,0,0,0,0,0,0,0
1,1,2021,1,3,7,CVG,BOS,730,727.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,2,2021,1,4,1,CVG,BOS,730,737.0,7.0,...,0,0,0,0,0,0,0,0,0,0
3,3,2021,1,7,4,CVG,BOS,1715,1710.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,4,2021,1,8,5,CVG,BOS,1715,1711.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10390184,618785,2022,7,1,5,ALB,EWR,1500,1516.0,16.0,...,0,0,0,0,0,0,0,0,1,0
10390185,618786,2022,7,1,5,AVL,EWR,1246,1236.0,0.0,...,0,0,0,0,0,0,0,0,1,0
10390186,618787,2022,7,1,5,ALB,EWR,1201,1153.0,0.0,...,0,0,0,0,0,0,0,0,1,0
10390187,618788,2022,7,1,5,BNA,EWR,1430,1458.0,28.0,...,0,0,0,0,0,0,0,0,1,0
10390188,618789,2022,7,1,5,BOS,EWR,1605,1904.0,179.0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
# Generate our categorical variable lists
flights_cat = flights_df.dtypes[flights_df.dtypes == "object"].index.tolist()

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(flights_df[flights_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(flights_cat)
encode_df.head()

In [9]:
# Features and target arrays
y = flights_df.Is_Delayed
X = flights_df.drop(columns=["Is_Delayed"])